.content {
   position: absolute;
   text-align: center;
   color: rgb(160, 151, 151);
   font-size: 14px;
   font-weight: 400;
   bottom: 5px;
   margin: auto;
   width: 98%;
}
.content-small {
   font-size: 10px;
}