.div1 {
   border: 1px solid black;
   margin-top: 10px;
}

.gray-bg {
   background-color: gray;
   border: 1px solid black;
   margin-top: 10px;
}

.white-bg {
   background-color: white;
   border: 1px solid black;
   margin-top: 10px;
}
